/* Default CSS  */
a {
    font-family: "Helvetica";
}

p {
    font-family: "Helvetica";
}

.bg-parent {
    background-color: #F1F3FF;
}

.my-heading {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.my-pt-20 {
    padding-top: 20px;
}

.btn-back {
    background-color: #fff !important;
    color: #5CB85F;
    border-color: #5CB85F;
    border-radius: 8px;
    font-family: "Helvetica";
    box-shadow: none !important
}

.btn-back:hover {
    color: #419444;
    border-color: #419444;
}

.btn-back:focus {
    outline: none;
    box-shadow: none;
}

.icon-center {
    display: flex;
    justify-content: center;
}

/* End Default CSS */

.navbar-right {
    justify-content: flex-end;
    width: 100%;
}

a.navbar-brand {
    font-size: 24px;
    font-weight: 100%;
}

#btn-regis {
    margin-left: 20px;
}

.btn-success {
    background-color: #5CB85F !important;
    border-radius: 8px;
    font-family: "Helvetica";
    border-color: #5CB85F !important;
}

.btn-success:hover {
    background-color: #419444 !important;
    border-color: #419444 !important;
}

.poster {
    position: relative;
    width: 100%;
    height: 550px;
    background-color: #F1F3FF;
    overflow: hidden;
}

.poster-img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 500px;
}

#img01 {
    width: 500px;
    height: 320px;
}

.poster-content {
    position: absolute;
    margin-top: 80px;
    animation: 300ms;
    margin-left: 65px;
    width: 1000px;
}

.poster-title {
    font-size: 30px;
    font-weight: 700;
    width: 500px;
    transition: 300ms;
}

.poster-desc {
    max-width: 40%;
    font-size: 18px;
    padding-bottom: 10px;
}

.poster-bottom {
    display: flex;
    justify-content: flex-start;
}

.feature-container {
    display: flex;
    padding: 100px;
    justify-content: space-between;
}

.feature {
    height: 700px;
    position: relative;
    overflow: hidden;
}

#img02 {
    max-width: 460px;
    max-height: 420px;
}

.fc-desc {
    max-width: 450px;
}

.fcd-head {
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: left;
}

.fcd-desc {
    font-size: 16px;
    padding-bottom: 10px;
    text-align: left;
}

.fc-option {
    margin-top: 10px;
    width: 350px;
    position: relative;
    padding-bottom: 5px;
}

.fc-icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #CFD4ED;
    display: flex;
    justify-content: center;
    color: #0D28A6;
}

.fc-text {
    position: absolute;
    top: 0;
    margin-left: 60px;
    animation: 300ms;
}

#fa-custom01 {
    margin: auto;
    font-size: 20px;
}

.card-container {
    height: 450px;
    padding: 20px;
    overflow: hidden;
}

.cc-head {
    padding-left: 45px;
    padding-bottom: 20px;
}

.cch-desc {
    margin-top: -3px;
    font-size: 18px;
}

.row-custom {
    padding-left: 45px;
    padding-right: 45px;
}

.rounded-sm {
    border-radius: 1rem;
    width: 260px;
    height: 230px;
    overflow: hidden;
    transition: 300ms
}

.rounded-sm:hover {
    transform: scale(1.1);
    transition: 300ms;
    cursor: pointer;
}

.card-icon-1 {
    margin-top: 15px;
    margin-left: 15px;
    background-color: #F9CC00;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #fff;
}

.card-icon-2 {
    margin-top: 15px;
    margin-left: 15px;
    background-color: #FA2C5A;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #fff;
}

.card-icon-3 {
    margin-top: 15px;
    margin-left: 15px;
    background-color: #0D28A6;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #fff;
}

.card-icon-4 {
    margin-top: 15px;
    margin-left: 15px;
    background-color: #5CB85F;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: #fff;
}

#fa-custom02 {
    margin: 7.5px;
    font-size: 25px;
}

.question {
    width: 100%;
    height: 600px;
    padding: 50px;
    position: relative;
    /* overflow: hidden; */
}

.qt-content {
    position: absolute;
    right: 0;
    top: 0;
    width: 700px;
    padding-top: 50px;
    padding-right: 50px;
    /* overflow: hidden; */
}

.footer-container {
    height: 250px;
    position: relative;
    padding: 50px;
}

.footer-container:hover {
    border-top: 2px solid #0D28A6;
    transition: 300ms;
}

.footer-container p {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-container p:hover {
    cursor: default;
}

.footer-content {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.footer-info {
    width: 350px;
    padding-right: 10px;
}

.fi-link li {
    list-style-type: none;
}

.fi-link li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.fi-link li a:hover {
    color: #5CB85F;
}

.fi-sm {
    display: flex;
}

.sm-icon {
    margin-right: 10px;
    background-color: #0D28A6;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: transparent;
    transition: 300ms;
    display: flex;
    justify-content: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);

}

.sm-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 4px 4px #dae1eb;
    transition: 300ms;
    transform: rotate(-5deg)
}

/* -- */
/* Cars Page CSS */
/* -- */
.filter-container {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    max-height: 250px;
    display: flex;
    justify-content: center;
}

.filter-card {
    max-width: 800px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    /* box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3); */
    border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.filter-content {
    display: flex;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.button-container-filter {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 20px;
}

.bcf-bottom {
    display: flex;
}

.car-product-container {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    overflow: hidden;
}

.product-body {
    border-radius: 10px;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 30px;
    height: 100%;
    min-height: 300px;
    padding-bottom: 50px;
}

#card-noEffect:hover {
    transform: scale(1) !important;
}

.cic-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.ci-head p {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 20px;
}

.text-muted-sm {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.ci-body p {
    margin-top: -5px;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
}

.text-sup {
    font-weight: 400;
}

.price {
    margin-top: 5px !important;
    font-size: 18px !important;
    font-weight: 600;
}

.height-flex {
    height: 500px !important;
}

.btn-place-card {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* End of Car Page */